@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <nav class="container-fluid">
        <div class="row">
            <div class="text-center">
                <h2 class="Bruno">Bruno Diaz Blog</h2>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <h2 class="text-center bg-primary text-white">Hi I'm Bruno!</h2>

                <h3 class="text-center">Here are some of the things I enjoy</h3>

                <ul li class="text-center">
                    <li>
                        <a href="~/Pages/barkingAtDoors.html">Barking at the door (colors)</a>
                    </li>
                    <li>Soccer with dad (buttons).</li>
                    <li>Meeting new people (cards).</li>
                    <li>Hugging mum (Jumpotron).</li>
                    <li>Sprinting on grass (drop down).</li>
                    <li>Trying new foods (sometimes in mums bag). (Carousel)</li>
                    <li>Sleeping on dads lap (cards).</li>
                    <li>Making friends at the park</li>
                </ul>

            </div>
        </div>
        <br />
        <br />
        <br />

        <div class="row justify-content-center text-center">
            <div class="col-md-6">
                <span>
                    <p>Links to fun stuff</p>
                </span>
            </div>
            <div class="col-md-6">
                <p>Links to fun stuff 2 </p>
            </div>
        </div>

        <nav class="nav justify-content-center text-center">
            <a class="nav-link" href="#">About Us</a>
            <a class="nav-link" href="#">Contact Us</a>
            <a class="nav-link" href="#">Subscribe</a>
        </nav>


        <!--col-lg-4 and col-md-4 seems to work well but col-4 does shit. Also look up what Christian recommended.-->
        <nav class="nav justify-content-center text-center">

            <div class="col-lg-4 col-md-4">
                1 of 3
            </div>
            <div class="col-lg-4 col-md-4">
                Variable width content
            </div>
            <div class="col-lg-4 col-md-4">
                3 of 3
            </div>
  
        </nav>
        </br>

        <!--Make this a "Card-group" with other photos when the time comes, also try to get the borders working.-->
        <div class="card text-white bg-primary mb-3" style="width: 25rem">
            <img src="~/images/62132902_552869138579051_8115035548365619200_n.jpg" class="card-img-top" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title">Christian Va..something!</h5>
                <h6 class="card-subtitle mb-2">One of dads good friends</h6>
                <p class="card-text"> Christian is a nice man that comes over sometimes who really likes to pat me, once he even brought me rope thingy to play with which I destroyed it in a single night... I hope he wasnt mad. I really wanted Christian to pick me up in this photo but for some reason he didnt... maybe next time! </p>
            </div>
        </div>
    </nav>